.footer {
  padding-top: var(--section-mobile-pt);
  padding-bottom: var(--section-mobile-pb);
  background-color: #2f303a;

  &__contact-wrapper {
    text-align: center;
  }
}

.address {
  min-width: 231px;
  margin-top: 20px;
  line-height: 1.71;
  &__link {
    color: var(--white-color);
  }
  &__contact-link {
    color: rgba(255, 255, 255, 0.6);
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.logo--dark-theme {
  color: var(--white-color);
}

.footer-social {
  margin-top: var(--section-mobile-pt);
  margin-bottom: var(--section-mobile-pb);
}

.footer-social__text {
  text-align: center;
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.footer-social__list {
  display: flex;
  align-items: center;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.subscription {
  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
  }

  &__input {
    height: 50px;
    width: 100%;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: none;
    color: var(--white-color);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 1199px) {
  .footer-social {
    margin-top: var(--section-mobile-pt);
  }
  .subscription {
    width: 100%;
    &__container {
      flex-direction: column;
    }
    &__input {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-logo {
    margin-bottom: 100px;
  }
  .footer__contact-wrapper,
  .footer-social__text,
  .subscription__text {
    text-align: start;
  }
  .footer-social {
    margin-left: 70px;
    margin-bottom: var(--section-pb);
  }
  .subscription {
    margin-left: 93px;
  }
  .subscription__input {
    width: 450px;
  }
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}
