.modal-form {
  display: flex;
  flex-direction: column;

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
  }

  &__field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }

  &__input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  &__input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form__input:focus,
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    cursor: pointer;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__term:checked + &::before {
    background-image: url("/images/icon/icon_check.svg");
    background-position: center;
  }

  .modal-form__term:focus + &::before {
    border-color: var(--accent-color);
  }
}
