:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --section-pt: 94px;
  --section-pb: 94px;
}
